.Banner__No1Broker {
  height: 300px;
  margin-top: 5%;
  padding-top: 10px;
}
.container__no1broker {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.heading__NO1Broker {
  text-align: center;
  font-size: 50px;
  color: #424242;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  padding-top: 50px;
}

.p__NO1Broker {
  text-align: center;
  color: #424242;
  margin-top: 15px;
  font-size: 25px;
  font-weight: 400;
}

.button__NO1Broker {
  text-decoration: none;
  color: gray;
  font-size: 1.1rem;
  background-color: #1a8cff;
  border-radius: 5px;
  padding: 12px 30px 12px 30px;
  color: white;
  border: none;
  margin-top: 50px;
}

.button__NO1Broker:hover {
  color: white;
  background-color: #424242;
}

.banner {
  margin-top: 80px;
  text-align: center;
  height: 100vh;
}

.Largeststock__part {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: center;
  height: 90vh;
}
.Largeststock__part__right {
  width: 45%;
  margin-left: 15%;
}

.Largeststock__part__right__h1 {
  color: #424242;
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 20px;
}

.Largeststock__part__right__p {
  color: #424242;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.ul__container {
  display: flex;
  flex-direction: row;
}

.Largeststock__part__right__ul {
  color: #424242;
  font-family: inter, serif;
  font-size: 20px;
  width: 100%;
  line-height: 1.7;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  padding-left: 20px;
  margin-bottom: 30px;
}
.Largeststock__part__right__ul > li {
  padding: 5px;
}
/* @media only screen and (max-width: 800px) {
  .Largeststock__part__right__ul {
    padding: 0;
    text-align: left;
    list-style-position: inside;
  }
} */

.Zeroidha_univ {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  color: #424242;
  /* font-family: inter, serif;
  -webkit-font-smoothing: antialiased; */
  height: 100vh;
}

.Zeroidha_univ > h1 {
  font-size: 2.5rem;
  line-height: 1.5;
  color: #424242;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 20px;
}

.Zeroidha_univ > p {
  font-size: 1.25rem;
  font-weight: 400;
}

.Unbeatable__pricing__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: center;
  color: #424242;
  height: 50vh;
}

.Unbeatable__pricing__left {
  width: 35%;
}
.Unbeatable__pricing__left > h1 {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 20px;
}
.Unbeatable__pricing__left > p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
}

.Unbeatable__pricing__right {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 40px;
}
.box {
  height: 120px;
  width: 120px;
  padding: 0 25px;
  box-sizing: border-box;
  min-height: 190px;
  border: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: 0;
  text-align: center;
  min-width: 40%;
  margin-left: 20px;
}

.box > h1 {
  margin: 0;
  line-height: 2;
  font-size: 2.75rem;
}

.box > p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
}
.versity__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 70vh;
  color: #424242;
}
.versity__container__left {
  width: 50%;
}
.versity__container__right {
  width: 40%;
  text-align: left;
}
.versity__container__right > h4 {
  font-size: 1.7rem;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.7;
}

.versity__container__right > p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 15px;
  font-weight: 400;
}

.Links {
  text-decoration: none;
  color: #387ed1;
  text-decoration: none;
  font-weight: 500;
}

.Links:hover {
  color: #424242;
}

.openAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.openAccount {
  color: #424242;
  height: 40vh;
}

.openAccount > h1 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 20px;
}

.openAccount > p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
  font-weight: 400;
}

.openAccount > button {
  text-decoration: none;
  color: gray;
  font-size: 1.1rem;
  background-color: #1a8cff;
  border-radius: 5px;
  padding: 12px 30px 12px 30px;
  color: white;
  border: none;
}

.openAccount > button:hover {
  background-color: #424242;
  color: white;
}
